.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.hero-left {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-left: 100px;
    gap: 20px;
    line-height: 1.3;
}

.hero-left h2 {
    color: #090909;
    font-size: 26px;
    font-weight: 600;

}

.hero-left p {
    color: #171717;
    font-size: 70px;
    font-weight: 500;
    

}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;

}
.hero-hand-icon img{
    width: 70px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 280px;
    height: 60px;
    border-radius: 75px;
    margin-top: 30px;
    background-color: #ff4141;
    color: white;
    font-size: 20px;
    font-weight: 500;


}
.hero-right img {
    width: 450px; /* Adjust as needed */
    object-fit: contain;
}